{erl_opts, [debug_info]}.
{deps, []}.
{
    relx,
    [
        {
            release,
            {"erlang_sup_app_dev", "0.0.1"},
            ['erlang-supervisor'],
            [
                {dev_mode, true},
                {include_erts, true},
                {extended_start_script, true}
            ]
        },
        {
            release,
            {"erlang_sup_app_prod", "1.0.1"},
            ['erlang-supervisor'],
            [
                {dev_mode, false},
                {include_erts, true},
                {extended_start_script, true}
            ]
        },
        {sys_config_src, "config/sys.config.src"}
    ]
}.
